.projects-container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

@media (min-width: 640px) {
  .projects-container {
    flex-direction: row;
  }
}

.projects-list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 2rem 0.5rem;
  list-style: none;
  margin: 0;
  min-width: 200px;
  width: 100%;
}

@media (min-width: 640px) {
  .projects-list {
    width: auto;
    min-width: 200px;
    max-width: 250px;
  }
}

.project-item {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  color: #9ca3af;
  transition: all 0.3s ease;
  white-space: normal;
}

@media (min-width: 640px) {
  .project-item {
    white-space: nowrap;
  }
}

.project-item:hover {
  color: var(--wine-color);
}

.project-item.active {
  color: var(--bege-color);
  border-left-color: var(--bege-color);
  background-color: var(--wine-color);
}

.project-content {
  flex: 1;
  box-sizing: border-box;
  padding: 0.75rem;
  width: 100%;
  height: auto;
  min-height: 300px;
}

@media (min-width: 640px) {
  .project-content {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .project-content {
    max-width: 1000px;
  }
}

.project-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--wine-color);
  margin-bottom: 1.5rem;
}

.project-subtitle {
  font-size: 1.0rem;
  color: #9ca3af;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .project-title {
    font-size: 1.5rem;
  }
}

.company-highlight {
  color: var(--wine-color);
}

.highlights-list {
  line-height: 1.8;
  font-size: 1rem;
  color: var(--wine-color);
}

.highlight-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding-left: 0.3rem;
}

.bullet {
  margin-right: 0.75rem;
  font-weight: bold;
  color: var(--wine-color);
  font-size: 1rem;
}

.project-links {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.project-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  border-radius: 10px;
  background-color: #f2e8d8;
  color: var(--wine-color);

  text-decoration: none;
  font-size: 1.2rem;

  transition: all 0.25s ease;
  border: 1px solid transparent;
}

.project-link:hover {
  background-color: var(--wine-color);
  color: var(--bege-color);
  border-color: var(--wine-color);
  transform: translateY(-2px);
}

.project-link i {
  pointer-events: none;
}
